<ion-header [translucent]="false">
  <ion-toolbar color="danger">
    
      <ion-item  lines="none" color="danger">
        <ion-avatar slot="start">
          <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>
        <ion-label>
          Olá, Jhonatan 
        </ion-label>
        <ion-label slot="end"><ion-icon name="search-outline" ></ion-icon></ion-label>
        
      </ion-item>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-card>
    
    <ion-card-header>
      <ion-item  lines="none">
      <ion-label class="mr" ><ion-card-title color="danger">Seu Saldo</ion-card-title></ion-label>
      <ion-label slot="end">  <ion-icon name="eye-outline" slot=></ion-icon></ion-label>
    </ion-item>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
      <ion-label> <ion-card-subtitle> valor total:</ion-card-subtitle> 
        <h1>R$ 250.000,00</h1>
      </ion-label>
    
    </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
